@model Common.Dto.UserUpdateDto

<form method="post">
    <input asp-for="Name" placeholder="New name" />
    <input asp-for="Email" placeholder="New email" />
    <input asp-for="Password" type="password" placeholder="New password" />
    <button>Save</button>
</form>
