@model Common.Dto.LoginDto

<form method="post">
    <label asp-for="Email">Email:</label>
    <input asp-for="Email" />
    <label asp-for="Password">Password:</label>
    <input asp-for="Password" type="password" />
    <button type="submit">Login</button>
</form>
