@using Common.Dto
@inject biznis.Interfaces.Services.IUserService UserService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
            <div class="container">
                <div class="navbar-nav">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>

                    @{
                        string? userId = Context.Request.Cookies["UserPublicId"];
                        bool isAdmin = false;

                        if (!string.IsNullOrEmpty(userId))
                        {
                            var user = await UserService.GetByPublicIdAsync(Guid.Parse(userId));
                            if (user != null)
                            {
                                isAdmin = user.Role == Common.Enum.RoleEnum.admin;
                            }
                        }
                    }

                    @if (!string.IsNullOrEmpty(userId))
                    {
                        <a class="nav-link" asp-controller="User" asp-action="Profile">Profile</a>
                        <a class="nav-link" asp-controller="Products" asp-action="Products">Products</a>
                        <form asp-controller="Products" asp-action="Cart" method="post" class="d-inline">
                            <input type="hidden" name="id" value=userId />
                            <button type="submit" class="btn btn-link nav-link">Cart</button>
                        </form>


                        @if (isAdmin)
                        {
                            <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                        }

                        <form asp-controller="User" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link" asp-controller="User" asp-action="Login">Login</a>
                        <a class="nav-link" asp-controller="User" asp-action="Register">Register</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - WebApplication1
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
