@model UserInfo

<head>
    <link rel="stylesheet" href="~/css/ulohy/uloha5.css">
</head>

<div class="uloha5">
    <div class="uloha5-left">
        <img src="~/images/profile.jpg" />
    </div>
    <div class="uloha5-right">
        <h1>@Model.Name</h1>
        <p>@Model.Email</p>
    </div>
</div>