
@{
    ViewData["Title"] = "Uloha3";
}

<div class="text-center">
    <div class="karta-grid">
        @for (var i = 0; i < 6; i++)
        {
            <div class="karta-grid-item">
                <div class="karta-grid-item-image"><img src="~/images/profile.jpg" /></div>
                <h1>Ján Novák @i</h1>
                <p>designer</p>
            </div>
        }
    </div>
</div>
