
@{
    ViewData["Title"] = "Uloha2";
}

<div class="text-center">
    <div class="karta">
        <div class="karta-header">
            <div class="karta-image"><img src="~/images/profile.jpg" alt="profilovka" /></div>
            <h1>Ján Novák</h1>
            <p>Frontend Developer</p>
        </div>
        <div class="karta-content">
            <a href="/">Späť</a>
        </div>
    </div>
</div>
