
@{
    ViewData["Title"] = "Uloha9";
}

<form asp-asp-controller="Ulohy.cs" asp-action="Uloha9" method="post">
    <label for="name">name:</label> <br />
    <input type="text" name="Name" value="" /> <br />
    <label for="surname">surname:</label> <br />
    <input type="text" name="Surname" value="" /> <br />
    <label for="username">username:</label> <br />
    <input type="text" name="Username" value="" /> <br />
    <label for="email">email:</label> <br />
    <input type="text" name="Email" value="" /> <br />
    <label for="tel">phone number:</label> <br />
    <input type="number" name="Tel" value="" /> <br />
    <label for="address">address:</label> <br />
    <input type="text" name="Address" value="" /> <br />

    <label for="choroby">choroba:</label> <br />
    <input type="text" id="choroba" name="Choroba" value="" /> <br />
    <button type="button" onclick="pridaj()">pridaj</button> <br />
    <div id="zobrazChoroby"></div>
    <input type="hidden" id="chorobyInput" name="ChorobyInput" value="" />

    <input type="submit" name="submit" value="submit" />
</form>
