
@{
    ViewData["Title"] = "Uloha1";
}

<div>
    <h1 class="center">Vitaj na stranke</h1>
    <p class="center">tato stranka je jednoducha s vlastnym stylom</p>
    <button class="btn-primary">tlacitko</button>
</div>
